<!-- This input will be imported/included to many strategies so it's made separately -->
<br />
<form action="/inputsave" method="post">
    Add Color:<input type="text" id="color" name="color" placeholder="red" class="form-control" required />
    <button type="submit" class="btn btn-primary btn-sm btn-block">Add</button>
</form>
<br />